* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

/* NAV + SEARCH */
nav .navbar {
    position: absolute;
    top: 0px;
    width: 100%;
}

#back-btn {
    font-size: 0.9em;
}

.navbar-toggler {
    font-size: 0.8em;
}

.search-container {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 314170;
}
  
.searchbar-icon {
    font-size: 0.8em;
}

#search-input,
#location-input,
#search-btn {
    font-size: 0.9em;
}

#keyword-box,
#location-box {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

/* MAP */
#map-container {
    width: 100%;
    height: 100%;
}

#sgmap {      
    width: 100%;
    height: 100%;
}            

/* RESULTS */
#results-pane {
    position: absolute;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    overflow-y: auto;
    width: 100%;
    height: 40%;
    bottom: 0;
    padding: 18px 28px 14px 28px; /*top right bottom left*/
    z-index: 314161;
    background: white;
}

#search-results {
    z-index: 314160;
    background: white;
}

#results-filter,
#filter-icon,
#filter-btn {
    display: none;
}

#filter-icon {
    color: #d3d3d3;
}

/* For Desktop */
@media screen and (min-width: 768px) {
    #container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .search-container {
        position: initial;
    }

    #map-container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #sgmap {
        width: 100%;
    }

    #results-pane {
        right: 30px;
        bottom: 40px;
        width: 30%;
        height: 80%;
        border-radius: 6px;
        padding: 14px 28px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
