#sgmap {
    height: 100vh;
}

#search-container {
    width: 88%;
    /* background-color: #fff; */
    z-index: 314159;
}

#search-results {
    /* background-color: #fff; */
    width: 100%;
    z-index: 314160;
}

#search-bar {
    background-color: #fff;
}

#search-group {
    background-color: #fff;
    border-radius: 12px;
}
